.navigation {
    display: flex;
    gap: 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #c0c0c0;

    &__item {
        padding-bottom: 5px;
        font-size: 20px;
        text-decoration: none;
        color: #808080;
        padding-top: 5px;
        padding-left: 10px;

        &:hover {
            color: black;
        }
    }

}

.active {
    color: black;
    font-weight: bold;
}