.productPageBlock {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.productPageContentBlock {
    display: flex;
    flex-wrap: wrap;

    &__image {
        flex: 7 1 300px;

        img {
            width: 100%;
            height: 450px;
            object-fit: contain;
            display: block;
        }
    }

    &__info {
        margin-top: 20px;
        flex: 3 1 300px;

        .title {
            text-transform: uppercase;
            line-height: 1.1em;
        }

        .button {
            margin-top: 20px;
            margin-bottom: 20px;
            height: 40px;
            color: white;
            background-color: black;
            cursor: pointer;
            width: 100%;
            font-weight: 600;
        }
    }
}

.aboutProduct {
    &__description {
        white-space: pre-line;
    }
}

.recommendedBlock {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 30px;
    background-color: #fafafa;

    &__title {
        margin-bottom: 30px;
    }

}