.heroContentBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    color: white;


}

.heroContentBlock__left {
    width: 63%;
    height: 100%;
    background-image: url('../../../assets/slide1/image_background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .heroContentBlock__title--left {
        font-size: 80px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        font-weight: 900;
    }

    .heroContentBlock__imgShape {
        height: 200px;
        width: auto;
        margin-top: -340px;
        margin-left: 30px;
        
    }

    .heroContentBlock__imgSneakers {
        transform: rotate(-7deg);
        width: 620px;
        height: auto;
        margin-left: 20px;
        margin-right: 60px;
    }


}

.heroContentBlock__right {
    width: 37%;
    height: 100%;
    background-color: #636363;
    display: flex;
    flex-direction: column;

    .heroContentBlock__title--right {
        font-size: 65px;
        padding-left: 40px;
        font-weight: 900;
    }

    .heroContentBlock__text--right {
        padding-left: 40px;
        font-size: 37px;
        line-height: 1.1;
        width: 470px;
        font-size: 43px;

        .heroContentBlock__textMonth--right {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 28px;
        }

        .heroContentBlock__textYear--right {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 50px;
        }
    }

    .heroContentBlock__titleBottom--right {
        font-size: 105px;
        text-transform: uppercase;
        color: black;
        padding-left: 20px;
        margin-top: auto;
        margin-bottom: 20px;
        font-weight: 800;
        margin-left: 20px;
        text-shadow: 5px -17px 2px rgba(180,180,180,0.2);
    }

}

.heroContentBlock__button {
    position: absolute;
    padding-bottom: 7px;
    right: 427px;
    width: 220px;
    height: 90px;
    font-size: 37px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    color: rgb(105, 105, 105);
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
    }

}