.catalogBlock {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding-top: 20px;
}

.productsCount {
  color: #b2b2b2;
}

.introBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 20vh;

  &__title {
    text-transform: uppercase;
  }
}

.catalogContentBlock {
  display: flex;
  flex-direction: row;
  gap: 30px;

  .filterBlocks {

    &__title {
      margin-bottom: 10px;
    }
  }
}

.productsBlock {

  &__title {
    margin-bottom: 10px;
  }
}