.AccountPage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}

.card {
    margin-top: -100px; 
    width: 500px;
    padding: 32px;
    background: #fff;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px !important;
    letter-spacing: 0.5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forgot {
    font-size: 14px;
    color: #7a7a7a;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
}

.loginBtn {
    margin-top: 8px !important;
    height: 48px;
    background: #e6e6e6 !important;
    color: #000 !important;
    font-weight: 600 !important;

    &:hover {
        background: #dcdcdc !important;
    }
}

.divider {
    margin: 32px 0 20px;
    height: 1px;
    background: #e0e0e0;
}

.newText {
    font-size: 14px;
    margin-bottom: 12px;
}

.createBtn {
    margin-top: 20px !important;
    height: 48px;
    border: 1px solid #000 !important;
    color: #000 !important;
    font-weight: 600 !important;

    &:hover {
        background: #f5f5f5 !important;
    }
}